<div class="search-bar p-3 bg-light rounded">
    <form>
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Where" />
        </div>
        <div class="col-md-2">
          <input type="date" class="form-control" placeholder="Check-in" />
        </div>
        <div class="col-md-2">
          <input type="date" class="form-control" placeholder="Check-out" />
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control" placeholder="Guests" />
        </div>
        <div class="col-md-3">
          <button class="btn btn-danger w-100">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>
  